<section class="footer footer--sponsors">
  <ul>
    <li>
      <a href="/about/sponsors">One</a>
    </li>
    <li>
      <a href="/about/sponsors">Two</a>
    </li>
    <li>
      <a href="/about/sponsors">three</a>
    </li>
    <li>
      <a href="/about/sponsors">Four</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/about/sponsors">One</a>
    </li>
    <li>
      <a href="/about/sponsors">Two</a>
    </li>
    <li>
      <a href="/about/sponsors">three</a>
    </li>
    <li>
      <a href="/about/sponsors">Four</a>
    </li>
    <li>
      <a href="/about/sponsors">Five</a>
    </li>
    <li>
      <a href="/about/sponsors">Six</a>
    </li>
    <li>
      <a href="/about/sponsors">Seven</a>
    </li>
    <li>
      <a href="/about/sponsors">Eight</a>
    </li>
  </ul>
</section>
