<section class="footer footer--sponsors">
  <ul>
    <li>
      <a href="/sponsors">One</a>
    </li>
    <li>
      <a href="/sponsors">Two</a>
    </li>
    <li>
      <a href="/sponsors">three</a>
    </li>
    <li>
      <a href="/sponsors">Four</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/sponsors">One</a>
    </li>
    <li>
      <a href="/sponsors">Two</a>
    </li>
    <li>
      <a href="/sponsors">three</a>
    </li>
    <li>
      <a href="/sponsors">Four</a>
    </li>
    <li>
      <a href="/sponsors">Five</a>
    </li>
    <li>
      <a href="/sponsors">Six</a>
    </li>
    <li>
      <a href="/sponsors">Seven</a>
    </li>
    <li>
      <a href="/sponsors">Eight</a>
    </li>
  </ul>
</section>
