<ul>
  <li>
    <a href="http://www.expertbikerepair.co.uk/"><img src="<%= asset_path('template/expert-bike-repair.svg') %>" alt="Expert Bike Repair, Whiston" class="svg" /></a>
  </li>
  <li>
    <a href="http://www.thesitwell.co.uk/"><img src="<%= asset_path('template/the-sitwell-arms.svg') %>" alt="The Sitwell Arms - Pub & Dining, Whiston" class="svg" /></a>
  </li>
</ul>
<ul>
  <li>
    <a href="http://www.colouringcode.com"><img src="<%= asset_path('template/colouring-code.svg') %>" alt="Colouring Code" class="svg" /></a>
  </li>
  <li>
    <a href="https://newquote.velosure.co.uk/source266"><img src="<%= asset_path('template/velosure.svg') %>" alt="Velosure Cycle Insurance" class="svg" /></a>
  </li>
</ul>
