<section class="block block--supporters">
  <div class="wrap">
    <h2 class="block__title"><a href="/about/supporters">Supporters of the club</a></h2>
    <ul>
      <li>
        <a href="#">One</a>
      </li>
      <li>
        <a href="#">Two</a>
      </li>
      <li>
        <a href="#">three</a>
      </li>
      <li>
        <a href="#">Four</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#">One</a>
      </li>
      <li>
        <a href="#">Two</a>
      </li>
      <li>
        <a href="#">three</a>
      </li>
      <li>
        <a href="#">Four</a>
      </li>
      <li>
        <a href="#">Five</a>
      </li>
      <li>
        <a href="#">Six</a>
      </li>
      <li>
        <a href="#">Seven</a>
      </li>
      <li>
        <a href="#">Eight</a>
      </li>
    </ul>
  </div>
</section>
