/*------------------------------------*\
  $CONTENT
\*------------------------------------*/

.page-content {
  //border: {
  //  width: 10px;
  //  style: solid;
  //  image: linear-gradient(to bottom, $green 0%,$green 20%,$yellow 20%,$yellow 40%,$green 40%,$green 60%,$yellow 60%,$yellow 80%,$green 80%,$green 100%) 30 30 stretch;
  //}
  //
  //border-top: 0;
  //border-bottom: 0;

  padding: {

  }

  > .wrap {
    display: flex;
    flex-wrap: wrap;
    padding: {
      top: 50px;
      bottom: 50px;
    }

    @include mq(mq768) {
      justify-content: space-between;
    }
  }
}

.page-title {
  order: 1;
  display: block;
  width: 100%;
  margin: {
    bottom: 50px;    
  }
  padding: {
    bottom: 50px;    
  }
  border-bottom: 1px solid $light-grey;
}

.primary-content {
  order: 3;
  clear: both;
  display: block;
  width: 100%;

  @include mq(mq768) {
    order: 2;
    @include span(10 of 16);
  }

  p {
    &:first-of-type {
      font: {
        size: font-size(20);
      }
      line-height: 1.2;
    }
  }

  ul {
    margin: {
      left: 20px;
    }
  }
}

.secondary-content {
  order: 2;
  clear: both;
  display: block;
  width: 100%;

  @include mq(mq768) {
    order: 3;
    @include span(last 4.5 of 16);
  }

  .widget {
    display: none;

    @include mq(mq768) {
      display: block;
    }
  }

  nav {
    background: #eee;
    margin: {
      bottom: 40px;
    }

    li {
      &:not(:first-of-type) {
        border: {
          top: 1px solid lighten(#eee, 7.5%);
        }
      }

      &:not(:last-of-type) {
        border: {
          bottom: 1px solid darken(#eee, 7.5%);
        }
      }

      &:first-of-type {
        a {
          padding: 25px 20px;
          text: {
            transform: uppercase;
          }
        }
      }
    }

    a {
      padding: 15px 20px;
      display: block;
      font: {
        family: $heading-font;
        size: font-size(17);
      }
      text: {
        decoration: none;
      }
      color: $base-font-color;

      @include states {
        background: {
          color: darken(#eee, 2.5%);
        }
      }
    }
  }
}

.layout {
  &--news {
    width: 100%;
    margin: {
      right: 0;
    }
  }
}

.module {
  &__video {
    position: relative;
    padding-bottom: 56.25%;
    margin: 25px 0;
    height: 0;
    max-width: 100%;
    overflow: hidden;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.img {
  width: 100%;
  height: auto;

  &--thirty-three {
    @include mq(mq600) {
      width: calc((100% - 40px) / 3);
      margin: {
        right: 20px;
      }
    }
  }
  &--fifty {
    @include mq(mq600) {
      width: calc((100% - 20px) / 2);
      margin: {
        right: 20px;
      }
    }
  }

  &--left {
    float: left;
  }

  &--right {
    float: right;
    margin: {
      right: 0;
    }
  }

  &--britishcycling,
  &--bikepure {
    max-width: 250px;
  }
}

.committee {
  img {
    @include mq(mq600) {
      width: calc((100% - 40px) / 3);
      margin: {
        right: 20px;
      }
    }
  }
}

