/*------------------------------------*\
  $CONTENT
\*------------------------------------*/

.page-content {
  //border: {
  //  width: 10px;
  //  style: solid;
  //  image: linear-gradient(to bottom, $green 0%,$green 20%,$yellow 20%,$yellow 40%,$green 40%,$green 60%,$yellow 60%,$yellow 80%,$green 80%,$green 100%) 30 30 stretch;
  //}
  //
  //border-top: 0;
  //border-bottom: 0;

  padding: {

  }

  > .wrap {
    display: flex;
    flex-wrap: wrap;
    padding: {
      top: 50px;
      bottom: 50px;
    }

    @include mq(mq768) {
      justify-content: space-between;
    }
  }
}

.page-title {
  order: 1;
  display: block;
  width: 100%;
  margin: {
    bottom: 50px;    
  }
  padding: {
    bottom: 50px;    
  }
  border-bottom: 1px solid $light-grey;
}

.primary-content {
  order: 3;
  clear: both;
  display: block;
  width: 100%;

  @include mq(mq768) {
    order: 2;
    @include span(10 of 16);
  }

  p {
    &:first-of-type {
      font: {
        size: font-size(20);
      }
      line-height: 1.2;
    }
  }
}

.secondary-content {
  order: 2;
  clear: both;
  display: block;
  width: 100%;

  @include mq(mq768) {
    order: 3;
    @include span(last 4.5 of 16);
  }

  .widget {
    display: none;

    @include mq(mq768) {
      display: block;
    }
  }
}
