/*------------------------------------*\
  $FOOTER
\*------------------------------------*/

.page-footer {
  background: #121212;
  padding: 50px 0;
  color: #9B9B9B;

  .wrap {
    @include mq(mq768) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    > p {
      margin: {
        bottom: 10px;
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;

    @include states {
      color: $brand;
    }
  }

  .footer-title {
    color: #fff;
    font: {
      size: font-size(20);
    }
    margin: {
      bottom: 20px;
    }
  }

  p,
  li {
    font: {
      size: font-size(13);
    }

    &:last-of-type {
      margin: 0;
    }
  }

  p {
    width: 100%;
  }

  ul {
    margin: 0;
  }

  li {
    list-style: none;
    margin: {
      bottom: 10px;
    }
  }

  section {
    margin: {
      bottom: 40px;
    }

    &:last-child {
      margin: 0;
    }
  }

  .footer {
    border-bottom: 1px solid lighten(#121212, 7.5%);
    padding: {
      bottom: 40px;
    }

    &--sponsors {
      padding: {
        bottom: 20px;
      }
      width: 100%;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &:first-of-type {
          li {
            width: 100%;
          }
        }

        &:last-of-type {
          li {
            width: calc((100% - 40px) / 2);
            margin: {
              right: 40px;
            }

            &:nth-of-type(2n) {
              margin: {
                right: 0;
              }
            }
          }
        }
      }

      li {
        list-style: none;
        margin: {
          bottom: 20px;
        }
      }

      svg {
        path,
        polyline,
        polygon,
        rect {
          fill: #fff;
        }
      }

      a {
        width: 100%;
        display: block;

        @include states {
          svg {
            path,
            polyline,
            polygon,
            rect {
              fill: $yellow;
            }
          }
        }
      }      
    }

    @include mq(mq768) {

      &:not(.footer--links) {
        border-bottom: 0;
        padding-bottom: 0;
      }

      &--sponsors {
        border-bottom: 1px solid lighten(#121212, 7.5%) !important;
        padding-bottom: 20px !important;

        .footer-title {
          text-align: center;
        }

        ul {
          &:first-of-type {
            li {
              &,
              &:nth-of-type(2n) {
                width: calc((100% - 120px) / 4);
                margin: {
                  right: 40px;
                }
              }

              &:nth-of-type(4n),
              &:last-of-type {
                margin: {
                  right: 0;
                }
              }

            }
          }

          &:last-of-type {
            li {
              &,
              &:nth-of-type(2n),
              &:nth-of-type(4n) {
                width: calc((100% - 280px) / 8);  
                margin: {
                  right: 40px;
                }
              }

              &:nth-of-type(8n),
              &:last-of-type {
                margin: {
                  right: 0;
                }
              }
              
            }
          }
        }
      }

      &--about {
        border-bottom: 1px solid lighten(#121212, 7.5%) !important;
        padding: {
          bottom: 40px !important;
        }

        p {
          max-width: 600px;
        }
      }

      &--strava {
        @include span(8 of 15);
      }

      &--partners {
        @include span(last 5 of 15);
      }

      &--links {
        width: 100%;
        border-top: 1px solid lighten(#121212, 7.5%);
        padding: {
          top: 40px;
        }

        .footer-links {
          float: left;

          li {
            display: inline-block;
            margin: 0 20px 0 0;
          }

          &--social {
            float: right;

            li {
              margin: 0 0 0 20px;
            }
          }
        }
      }


    }

    @include mq(mq1200) {
      &--about {
        border-bottom: 0!important;
        padding: {
          bottom: 0 !important;
        }
        @include span(6 of 16);
        @include suffix(1 of 16);
      }

      &--strava {
        @include span(6 of 16);
        @include suffix(1 of 16);
      }

      &--partners {
        @include span(last 4 of 16);
      }

      &--links {

      }
    }

    &--about {
      img {
        max-height: 50px;
        margin: {
          top: 20px;
          bottom: 0;
        }
      }
    }

    &--partners {

      li {

      }
    }

    &--links {
      clear: both;
    }
  }

  .footer-links {
    &--social {
      li {
        display: inline-block;
        margin: {
          right: 20px;
          bottom: 40px;
        }
      }

      a {
        @include states {
          svg {
            fill: $brand;
          }
        }
      }

      svg {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
    }
  }
}
