/*------------------------------------*\
  $HEADER
\*------------------------------------*/

.page-header {

  background: #121212;
  padding: 30px 0;
  color: #9B9B9B;

  .wrap {
    overflow: hidden;
    //border: {
    //  width: 10px;
    //  style: solid;
    //  image: linear-gradient(to right, $green 0%,$green 20%,$yellow 20%,$yellow 40%,$green 40%,$green 60%,$yellow 60%,$yellow 80%,$green 80%,$green 100%) 30 30 stretch;
    //}
    //
    //border-bottom: 0;
    //border-left: 0;
    //border-right: 0;
  }
}

.header {
  &__logo {
    width: 100%;
    max-width: 175px;
    display: block;
    float: left;

    img {
      margin: 0;
    }
  }

  &-links {
    &--social {
      display: none;
      float: right;
      margin: 0;

      @include mq(mq768) {
        display: block;
      }

      li {
        display: inline-block;
        margin: {
          right: 20px;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        fill: #fff;

        @include states {
          fill: $brand;
        }
      }
    }
  }
}

.primary-nav {
  background: $light-grey;

  .wrap {
    max-width: 100%;

    @include mq(mq768) {
      max-width: 90%;
    }

    @include mq(mq960) {
      max-width: 95%;
    }
  }

  ul {
    @include mq(mq768) {
      display: flex;
    }
  }

  li {
    @include mq($until: mq768) {
      &:not(:first-of-type) {
        border: {
          top: 1px solid lighten($light-grey, 5%);
        }
      }

      &:not(:last-of-type) {
        border: {
          bottom: 1px solid darken($light-grey, 5%);
        }
      }
    }

    @include mq(mq768) {
      flex-grow: 1;

      &:not(:first-of-type) {
        border: {
          left: 1px solid lighten($light-grey, 5%);
        }
      }

      &:not(:last-of-type) {
        border: {
          right: 1px solid darken($light-grey, 5%);
        }
      }
    }
  }

  a {
    padding: 15px 5%;
    display: block;

    @include mq(mq768) {
      padding: {
        top: 30px;
        bottom: 30px;
      }
      text-align: center;
    }
  }
}
