/*------------------------------------*\
  $HEADER
\*------------------------------------*/

.page-header {

  background: #121212;
  padding: 15px 0;
  color: #9B9B9B;

  .wrap {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: {
    //  width: 10px;
    //  style: solid;
    //  image: linear-gradient(to right, $green 0%,$green 20%,$yellow 20%,$yellow 40%,$green 40%,$green 60%,$yellow 60%,$yellow 80%,$green 80%,$green 100%) 30 30 stretch;
    //}
    //
    //border-bottom: 0;
    //border-left: 0;
    //border-right: 0;
  }

  .btn--menu {
    outline: none; 
    width: 45px;
    height: 45px;
    padding: 0;
    background: {
      color: lighten(#121212, 2.5%) !important;
    }
    position: relative;

    svg {
      fill: #fff;
      width: 26px;
      height: 25px;
      @include centrally-align;
      position: absolute;
      display: block;
    }

    .no-js & {
      display: none;
    }

    @include mq(mq768) {
      display: none;
    }
  }
}

.header {
  &__logo {
    display: flex;
    align-items: center;
    float: left;

    img {
      margin: 0;

      &:first-of-type {
        width: 50px;
        float: left;
        margin: {
          right: 10px;
        }

        @include mq(mq768) {
          width: 75px;
          margin: {
            right: 20px;
          }
        }
      }

      &:last-of-type {
        width: 135px;
        float: left;

        @include mq(mq768) {
          width: 175px;
        }
      }
    }
  }

  &__strapline {
    display: none;

    @include mq(mq768) {
      display: block;
      width: calc(100% - 270px - 128px - 40px);
      text-align: right;
      height: 20px;
      line-height: 16px;
      font: {
        weight: 600;
      }
    }
  }

  &-links {
    &--social {
      display: none;
      float: right;
      margin: 0;

      @include mq(mq768) {
        display: block;
      }

      li {
        display: inline-block;
        margin: {
          right: 20px;
          bottom: 0;
        }

        &:last-of-type {
          margin: {
            right: 0;
          }
        }
      }

      svg {
        width: 20px;
        height: 20px;
        fill: #fff;

        @include states {
          fill: $brand;
        }
      }
    }
  }
}

.primary-nav {
  background: #121212;
  border-top: 1px solid lighten(#121212, 5%);
  
  .js & {
    display: none;

    &.is-visible {
      display: block;
    }

    @include mq(mq768) {
      display: block;
    }
  }

  .wrap {
    max-width: 100%;

    @include mq(mq768) {
      max-width: 90%;
    }

    @include mq(mq960) {
      max-width: 95%;
    }
  }

  ul {
    @include mq(mq768) {
      display: flex;
    }
  }

  li {
    @include mq($until: mq768) {
      &:not(:first-of-type) {
        border: {
          top: 1px solid lighten(#121212, 5%);
        }
      }

      &:not(:last-of-type) {
        border: {
          bottom: 1px solid darken(#121212, 5%);
        }
      }
    }

    @include mq(mq768) {
      flex-grow: 1;

      &:not(:first-of-type) {
        border: {
          left: 1px solid lighten(#121212, 5%);
        }
      }

      &:not(:last-of-type) {
        border: {
          right: 1px solid darken(#121212, 5%);
        }
      }
    }
  }

  a {
    padding: 15px 5%;
    display: block;
    font: {
      family: $heading-font;
      size: font-size(17);
    }
    text: {
      transform: uppercase;
      decoration: none;
    }
    color: #fff;

    &.active {
      background: {
        color: darken(#121212, 5%);
      }
    }

    @include states {
      background: {
        color: darken(#121212, 2.5%);
      }
    }

    @include mq(mq768) {
      padding: {
        top: 25px;
        bottom: 25px;
      }
      text-align: center;
    }
  }
}
