/*------------------------------------*\
  $blocks
\*------------------------------------*/

.block {
  padding: {
    top: 50px;
    bottom: 50px;
  }

  .block__title {
    font: {
      size: font-size(30);
    }
  }

  &--instagram {
    padding: 0;

    .wrap {
      max-width: 100%;
      width: 100%;
      @extend %cf;
    }

    .flickity-viewport {
      overflow: hidden;
    }

    a {
      float: left;
      width: 50%;
      background: $dark-grey;
      transition: scale 0.5s;

      @include mq(mq600) {
        width: 25%;
      }

      @include mq(mq960) {
        width: calc(100% / 6);
        max-width: 250px;
      }
    }

    img {
      margin: 0;
    }
  }
}
