/*------------------------------------*\
  $blocks
\*------------------------------------*/

.block {
  padding: {
    top: 50px;
    bottom: 50px;
  }

  .block__title {
    font: {
      size: font-size(30);
    }
  }

  &--instagram {
    overflow: hidden;
    padding: 0;

    .wrap {
      max-width: 100%;
      width: 100%;
    }

    a {
      float: left;
      width: 50%;
      background: $dark-grey;

      @include mq(mq600) {
        width: 25%;
      }

      @include mq(mq960) {
        width: calc(100% / 6);
        max-width: 250px;
      }

      &.is-selected {
        img {
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }

    img {
      margin: 0;
      filter: grayscale(1);
      opacity: 0.5;
      transition: all 0.3s;
    }
  }

  &--supporters {
    background: $light-grey;
  }
}
