/*------------------------------------*\
  $blocks
\*------------------------------------*/

.block {
  padding: {
    top: 50px;
    bottom: 50px;
  }

  .block__title {
    font: {
      size: font-size(30);
    }
  }

  &--supporters {
    background: $light-grey;
  }
}
