/*------------------------------------*\
  $BUTTONS
\*------------------------------------*/

$btn-padding: 10px;
$btn-border-radius: 0;
$btn-background-color: $green;
$btn-background-color--hover: darken($green, 5%);
$btn-text-color: #fff;
$btn-text-color--hover: #fff;

/**
 * The basic structure of a button.
 */
.btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: $btn-padding;

  font: {
    family: $heading-font;
    weight: 700;
    size: font-size(16);
  }
  text: {
    align: center;
    decoration: none;
    transform: uppercase;
  }
  color: $btn-text-color;

  cursor: pointer;

  background-color: $btn-background-color;
  border: 0;

  @if ($btn-border-radius != 0) {
    border-radius: $btn-border-radius;
  }

  @include states {
    text-decoration: none;
    color: $btn-text-color--hover;
    background-color: $btn-background-color--hover;
  }
}

.btn--link {
  display: inline;
  padding: 0;
  font: {
    family: $body-font;
    weight: 400;
  }
  text: {
    align: left;
    transform: none;
  }
  color: $green;
  background: none;

  @include states {
    text-decoration: underline;
    color: $green;
    background: none;
  }

}


/**
 * Full-width buttons
 */
.btn--full {
  width: 100%;
}
