/*------------------------------------*\
  $widgets
\*------------------------------------*/

.widget {
  margin: {
    bottom: 40px;
  }
  padding: {
    top: 20px;
  }
  border: {
    top: 1px solid #eee;
  }

  &__title {
    font: {
      size: font-size(20);
    }
  }

  &--facebook {
    > a {
      background: $light-grey;
      padding: 20px;
      color: $dark-grey;
      display: block;
      margin: {
        bottom: 10px;
      }
      overflow: hidden;
    }

    time {
      background: lighten($dark-grey, 25%);
      color: #fff;
      display: block;
      margin: {
        bottom: 0;
      }
      font: {
        size: font-size(9);
      }
      width: 50px;
      text-align: center;
      float: left;

      span {
        display: block;
        padding: 0 0 5px;
        text-transform: uppercase;
        font: {
          family: $heading-font;
        }

        &:first-of-type {
          padding: {
            top: 5px;
          }
        }

        &.date {
          font: {
            size: font-size(30);
          }
        }

        &.month {
          font: {
            size: font-size(16);
          }
        }

        &:last-of-type {
          background: $dark-grey;
          color: $light-grey;
          padding: {
            top: 5px;
          }
        }
      }
    }

    h4 {
      margin: {
        bottom: 10px;
      }
      float: right;
      width: calc(100% - 70px);
    }

    p {
      font: {
        size: font-size(13);
      }
      clear: right;
      float: right;
      width: calc(100% - 70px);
      margin: {
        bottom: 0;
      }
    }
  }

  &--instagram {
    div {
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-between;

      a {
        float: left;

        &:not(:first-of-type) {
          width: calc(100% / 3);
        }
      }

      img {
        margin: {
          bottom: 0;
        }
      }
    }
  }
}