/*------------------------------------*\
  $widgets
\*------------------------------------*/

.widget {
  margin: {
    bottom: 40px;
  }
  padding: {
    top: 20px;
  }
  border: {
    top: 1px solid #eee;
  }

  &__title {
    font: {
      size: font-size(20);
    }
  }

  &--facebook {
    > a {
      background: $light-grey;
      padding: 20px;
      color: $dark-grey;
      display: block;
      margin: {
        bottom: 10px;
      }
    }

    time {
      display: block;
      margin: {
        bottom: 5px;
      }
      font: {
        size: font-size(14);
      }
    }

    h4 {
      margin: {
        bottom: 0;
      }
    }

    p {
      font: {
        size: font-size(14);
      }
    }
  }

  &--instagram {
    div {
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-between;

      a {
        float: left;

        &:not(:first-of-type) {
          width: calc(100% / 3);
        }
      }

      img {
        margin: {
          bottom: 0;
        }
      }
    }
  }
}