<p>Rotherham's newest cycle club.</p>

<p>Founded January 2016 by Jonny Haynes after him and a bunch of mates decided they'd like to join a club that was for the good times with a little bit of racing too.</p>

<p>We hope to provide a social gathering of like minded individuals from the surrounding areas of Whiston, Rotherham.</p>

<p>Our core activity is the <a href="/club-rides/">Sunday Club Ride</a>.</p>

<p>So come and give us a try - no obligation to join unless you enjoy your ride with us enough to make you want to repeat the experience.</p>

<p><a href="http://www.bikepure.org/"><img src="/assets/img/bike-pure-black.png" style="width: auto; width: 246px;"></a></p>

<h2>We support Bike Pure ethics</h2>

<p><strong>Bike Pure Mission Statement</strong></p>

<blockquote>
  <p>Bike Pure aims to protect the integrity of cycling and promote honesty in cycle sport. Cycling fans worldwide deserve heroes they can believe in. Bike Pure believe that education provides a solid foundation of sporting ethics and fair play to athletes, coaches and parents.</p>
</blockquote>

<p>Get your free Bike Pure wristband to show your support <a href="https://www.bikepurestore.org/bike-pure-wristbands/official-bike-pure-wristbands.html">here</a>.</p>

<aside class="">
  <nav>
    <ul>
      <li><a href="/about/committee">Committee</a></li>
      <li><a href="/about/supporters">Supporters</a></li>
      <li><a href="/about/constitution">Rules & Constitution</a></li>
    </ul>
  </nav>
</aside>
