<section class="primary-content">
  <p>The Sitwell Cycling Club Committee is a group of volunteer members who run the club. They generally meet on the first Monday of every month to discuss matters relating to the club and it’s membership.</p>
  <p>Members are encouraged to come and discuss matters arising within the Club. This isn’t a formal meeting and we welcome members bringing suggestions about the direction of the club to the discussions.</p>
  <h2>The role of the Committee</h2>
  <p>The Committee effectively manages the business of the Club in line with the <a href="/about/constitution">Rules & Constitution</a>.</p>
  <h3>The Committee is in place to:</h3>
  <ul>
    <li>Ensure the Club meets the needs of its Members,</li>
    <li>Ensure the Club is accountable to its Members,</li>
    <li>Draw on the expertise of its Members In making decisions,</li>
    <li>Ensure that financial and other decisions are being made properly.</li>
  </ul>
  <h3>Specific responsibilities of the Committee are to:</h3>
  <ul>
    <li>Set Policies for the Club,</li>
    <li>Set the Club’s long-term objectives,</li>
    <li>Decide whether to undertake new projects or activities,</li>
    <li>Interpret and adapt policy when existing activities change,</li>
    <li>Ensure there are proper procedures for monitoring and evaluating provision and use of activities,</li>
    <li>Maintain democratic procedures and accountability,</li>
    <li>Ensure the Club keeps accurate and comprehensible accounts,</li>
    <li>Ensure all funds received for a specific purpose are spent as specified and itemised within the accounts.</li>
  </ul>
  <h2>The current Committee</h2>
  <article>
    <h3>Chair (Membership Secretary)</h3>
    <h2>Jonathan Haynes</h2>
  </article>
  <article>
    <h3>Vice Chair (Kit Secretary)</h3>
    <h2>Andrew Laidler</h2>
  </article>
  <article>
    <h3>Treasurer</h3>
    <h2>David Southwood</h2>
  </article>
  <article>
    <h3>Promotions and Sponsors Officer</h3>
    <h2>Thomas Hodgson</h2>
  </article>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/about/committee">Committee</a></li>
      <li><a href="/about/supporters">Supporters</a></li>
      <li><a href="/about/constitution">Rules & Constitution</a></li>
    </ul>
  </nav>
</aside>
