<section class="primary-content">
  <p>These rules are effective from <em>1st January 2016</em></p>

  <ol>
    <li>That this Club be called the Sitwell Cycling Club (Sitwell CC, SCC).</li>
    <li>The SCC club kit will be the following colours, yellow, green, black and white.</li>
    <li>The aim of SCC shall be ‘to encourage people of all abilities and levels to participate in all aspects of the sport’.</li>
    <li>Membership of SCC is to be open to people of all genders, religion or race.</li>
    <li>SCC will be affiliated to British Cycling and other bodies at the discretion of the Committee.</li>
    <li>It is highly recommended that all SCC members undertaking cycling activities shall have third party insurance such as that provided by the British Cycling (BC), the National Cycling Charity CTC) or of similar quality. It is recommended that the minimum 3rd party liability insurance is of a value not less than £10 million.</li>
    <li>The SCC financial year shall commence on the 1 January and end on the 31 December the following year, after which date the Treasurer shall prepare the balance sheet.</li>
    <li>A member in unauthorised debt to the Club will not be eligible to race in the name of the Club.</li>
    <li>An Annual General Meeting (AGM) shall be held in December of each year. In the event that a meeting cannot take place an AGM will be scheduled for later in that year. All members will be informed of any date change with a minimum of 21 days notice. Notification of this change will appear on the SCC website.</li>
    <li>The management of SCC shall be in the hands of a Committee. These committee members will be chosen and selected by the SCC Chairperson and SCC Vice Chairperson. A majority vote by the committee will be required to allow the proposed individual to take the vacant/new position.</li>
    <li>The AGM shall advise and decide upon policy and future activities of the Club.</li>
    <li>SCC will be managed through a Committee, which will be chaired by the Club Chairperson (or in his/her absence, the Vice Chairperson).</li>
    <li>SCC racing shall be run in accordance to the regulations drawn up by British Cycling in their rules and constitution. These can be found here. All SCC members are ensure that they have read and understood these.</li>
    <li>All applications for membership shall be approved by the Vice Chairperson/Membership secretary.</li>
    <li>A NEW member joining after October 1st shall be credited with the next year's membership.</li>
    <li>Where appropriate an AGM shall award Honorary Life Membership for outstanding services to the Club.</li>
    <li>Annual Subscription Fees are due by 1st February. Members paid up for the previous year remain members until 31st December. Anyone not paid up by the 1st February shall be deemed to have left the Club.</li>
    <li>
      The annual subscription fee will be as follows;
      <ol>
        <li>1 Year Subscription = £20</li>
      </ol>
      The Committee reserve the right to raise or lower the annual subscription fees.
    </li>
    <li>The SCC membership period runs from 1st January to the 31st December.</li>
    <li>All Club monies will be banked in an account held in the name of the Club.</li>
    <li>An audited statement of annual accounts will be presented by the Treasurer at the AGM.</li>
    <li>Notices convening a General Meeting or AGM shall be circulated to all members at least 21 days before the meeting.</li>
    <li>A quorum for a Committee meeting shall be at least 3 members.</li>
    <li>Riders are not eligible to compete in racing events unless their subscriptions are up to date.</li>
    <li>Proposals for addition or alteration to Rules, or other motions, should be in the hands of the Club Chairperson at least 31 days before the AGM.</li>
    <li>Any matter not provided for in these Rules shall be dealt with by the Committee, whose decision shall be binding on all parties.</li>
    <li>When taking part in a SCC related activity, whether this activity involves cycling or not, all members must remember that their conduct reflects directly on the Club, and consequently it must be of the highest order.</li>
    <li>When cycling on the road, all members must adhere strictly to the ‘rules of the road’ and must not put themselves or fellow cyclists, whether SCC members or not, in danger. Safety in our sport is of the utmost importance, and each member must not only look out for themselves, but also for fellow cyclists.</li>
    <li>Each member is an ambassador for SCC, and should promote the benefits of being part of SCC whenever they can.</li>
    <li>Although it is not yet a legal requirement, wearing an approved safety helmet when on Club activities is compulsory. No helmet = No ride.</li>
    <li>Each member is responsible for maintaining their bicycle in a good and safe condition, and particularly during the winter months or when the weather demands it, fitting mudguards as a courtesy to other SCC members.</li>
    <li>Any member who persistently flouts the above code of conduct may face termination of their club membership.</li>
    <li>All complaints regarding the behaviour of members should be submitted in writing to the Club Chairperson.</li>
    <li>The complaint will be heard at the next committee meeting. The Committee has the power to take appropriate disciplinary action including the termination of membership.</li>
    <li>The outcome of a disciplinary hearing should be notified in writing to the person who lodged the complaint and the member against whom the complaint was made within 7 days of the hearing.</li>
    <li>The Committee may expel from membership only for good and/or sufficient cause, such as conduct likely to bring the SCC or sport into disrepute.</li>
    <li>Anti­social behaviour or abuse by any SCC member will not be tolerated. This will result in the individual being excluded from the SCC with immediate effect.</li>
    <li>Committee members and club officials accept no liability whatsoever for any loss, damage or injury sustained on any organised SCC event.</li>
    <li>Any individual found to have joined SCC with false information will have their membership terminated and will not be eligible for a refund.</li>
    <li>Any individual who objects to having their picture taken and used by SCC are to inform the Club Chairperson in writing. If the individual is participating in an SCC organised event the individual is responsible to inform the event organiser that they do not wish to have their picture taken.</li>
    <li>These rules replace any other SCC rules.</li>
  </ol>
  <p><strong>This is available to <a href="<%= asset_path('SitwellCyclingClubSitwellCCRulesandConstitution2016.pdf') %>">download as a PDF</a>.</strong></p>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/about/committee">Committee</a></li>
      <li><a href="/about/supporters">Supporters</a></li>
      <li><a href="/about/constitution">Rules &amp; Constitution</a></li>
    </ul>
  </nav>
</aside>
