<section class="primary-content">
  <p>We aim to respond to all enquiries as soon as possible but we love cycling just as much as you do so there might be a slight delay if the weather is good.</p>

  <p>You can also get in touch with us on <a href="https://twitter.com/sitwellcc">Twitter</a> or <a href="https://www.facebook.com/sitwellcc">Facebook</a></p>

  <form action="//formspree.io/team@sitwell.cc" method="POST">
    <div class="form-group">
      <input type="text" name="name" class="form-control" placeholder="Name" required="">
    </div>
    <div class="form-group">
      <input type="email" name="_replyto" class="form-control" placeholder="Email" required="">
    </div>
    <div class="form-group">
      <select name="query" class="form-control" required="">
        <option value="">Query</option>
        <option value="Membership">Membership</option>
        <option value="Club Rides">Club Rides</option>
        <option value="Racing">Racing</option>
        <option value="Kit">Kit</option>
        <option value="Welfare">Welfare</option>
        <option value="Sponsorship">Sponsorship</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <textarea name="message" class="form-control" placeholder="Message" required="" rows="10"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Submit</button>
    </div>
    <input type="text" name="_gotcha" style="display:none">
    <input type="hidden" name="_next" value="/thankyou">
  </form>

</section>

<aside class="secondary-content">

  <section class="widget widget--sponsors">
    <h3 class="widget__title"><a href="/about/sponsors">Please visit our sponsors</a></h3>
    <% include ../../shared/sponsors %>
  </section>

</aside>
