<section class="primary-content">
  <h2>How we use cookies</h2>
  <p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>
  <p>We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.</p>
  <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>
  <p>You can choose to accept or decline cookies through your browser. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
  <h2>The cookies we use</h2>
  <p>The following cookies are used on the Sitwell Cycling Club website:</p>
  <h3>Cookie Disclaimer cookies</h3>
  <p>A cookie we use to keep the Cookie Disclaimer hidden once you've accepted it.</p>
  <table>
    <thead>
      <tr>
        <th>Cookie</th>
        <th>Description</th>
        <th>Length</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>cookies_accepted</td>
        <td>Visitor identifier</td>
       <td>Expires after 5 years</td>
      </tr>
    </tbody>
  </table>
  <h3>Critical CSS cookies</h3>
  <p>To ensure our website loads as quickly as possible, we serve a subset of CSS (Cascading Stylesheets) inline on your first visit to our website – commonly referred to as "critical CSS". On repeat visits, the browser caches this CSS and therefore we don't need to serve these styles inline. We achieve this by setting a cookie on your computer to determine your first visit from subsequent visits.</p>
  <table>
    <thead>
      <tr>
        <th>Cookie</th>
        <th>Description</th>
        <th>Length</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>fullCSS</td>
        <td>Critical CSS identifier</td>
        <td>Expires after 5&nbsp;days</td>
      </tr>
    </tbody>
  </table>
  <h3>Session cookies</h3>
  <p>Temporary session cookies that are required for the basic functioning of our website, including login functions, form submission security and to tailor visual elements on a&nbsp;per-session basis.</p>
  <table>
    <thead>
      <tr>
        <th>Cookie</th>
        <th>Description</th>
        <th>Length</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_cms_session</td>
        <td>Session identifier</td>
        <td>Destroyed when user quits the browser</td>
      </tr>
      <tr>
        <td>user_credentials</td>
        <td>Login identifier</td>
        <td>Destroyed when user quits the browser</td>
      </tr>
    </tbody>
  </table>
  <h3>Google Analytics cookies</h3>
  <p>All other cookies - __utma, __utmb, __utmc, __utmz, __utmv are cookies set by Google Analytics, and are therefore technically not considered to be integral to the normal operating of the website.</p>
  <p>The use of these cookies by Google Analytics is shown below:</p>
  <table>
    <thead>
      <tr>
        <th>Cookie</th>
        <th>Description</th>
        <th>Length</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>__utma</td>
        <td>Visitor identifier</td>
        <td>Expires after 2 years</td>
      </tr>
      <tr>
        <td>__utmb</td>
        <td>Session identifier</td>
        <td>Expires after 30 mins of activity</td>
      </tr>
      <tr>
        <td>__utmc</td>
        <td>Session identifier</td>
        <td>Destroyed when user quits the browser</td>
      </tr>
      <tr>
        <td>__utmz</td>
        <td>Campaign values</td>
        <td>Expires after 6 months</td>
      </tr>
      <tr>
        <td>__utmv</td>
        <td>Visitor segmentation</td>
        <td>Expires after 2 years</td>
      </tr>
    </tbody>
  </table>

  <p>If you have any concerns or questions regarding any of the above please email <a href="mailto:team@sitwell.cc">team@sitwell.cc</a></p>
  <p>You can find more information about cookies at: <a href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a> and <a href="http://www.youronlinechoices.eu" target="_blank">www.youronlinechoices.eu</a>, and for a video about cookies visit <a href="http://www.google.co.uk/goodtoknow/data-on-the-web/cookies" target="_blank">www.google.co.uk/goodtoknow/data-on-the-web/cookies</a></p>
</section>

<aside class="secondary-content">
  
</aside>