<section class="primary-content layout--news">
  <% for(var i = 0; i < ghostMedia.length; i++) { %>
    <article class="post post--news">
      <a href="<%= ghostMedia[i].link %>">
        <figure style="background-image: url(<%= ghostMedia[i].image %>);" class="post__img"></figure>
        <div class="post__content">
          <h2 class="post__title"><%= ghostMedia[i].title %></h2>
          <%- ghostMedia[i].description.split('\n')[0] %>
          <button class="btn btn--link">Read more</button>
        </div>
      </a>
    </article>
  <% } %>
</section>
