<section class="primary-content">
  <h2>News</h2>
</section>

<aside class="secondary-content">

  <section class="widget widget--facebook">
    <h3 class="widget__title">Our next Sunday club ride is to</h3>
    <a href="<%= facebook[0].link %>">
      <h4><%= facebook[0].title %></h4>
      <ul>
        <li><%= facebook[0].date %></li>
        <li><%= facebook[0].location %></li>
      </ul>
    </a>
    <p>As always, leaving from the corner of <a href="https://goo.gl/maps/ArXDRXnkWEr">Turner Lane and High Street</a> at 8am.</p>
  </section>
</aside>
