<section class="primary-content">
  <p>Club rides take place on <a href="/club-rides/wednesday-evening">Wednesday evenings</a> and <a href="/club-rides/sunday-morning">Sunday mornings</a></p>

  <p>The meeting place is on the corner of Turner Lane and High Street, <a href="https://goo.gl/maps/ArXDRXnkWEr">Whiston</a>. This is easily located, just around the corner from the Sitwell Arms pub.</p>

  <p>We by all means accommodate new members but we do expect a certain level of fitness. The natural terrain around us can vary and sometimes the route we may choose may be more challenging for some rides. If you do find that you are struggling with the pace, we advise that you do the first hour and see how you feel. It's better to ride home feeling fine than on your last legs feeling shattered.</p>

  <p>Helmets are required, as is a basic tool kit and bring at least one spare tube and a pump just in case you puncture.</p>

  <p>We recommend that you are a member of <a href="https://www.britishcycling.org.uk/clubs/membership">British Cycling</a>, they'll provide you with liability insurance for when you're out on a ride.</p>

  <p>In the Winter months we prefer riders to have full length mudguards and preferably a mudguard flap - it helps to keep our kit clean!</p>

  <p>The Sunday morning ride routes will be published in advance on our website <a href="/club-rides/sunday-morning#upcoming-rides">here</a>.</p>

  <p>Please take time to read our <strong><a href="<%= asset_path('SitwellCyclingClubSitwellCCGenericRiskAssessment–RoadRides2016.pdf') %>">Risk Assessment</a> on Road Riding</strong>.</p>

  <h2 id="guidetogroupriding">Guide to group riding</h2>

  <p><a href="https://www.britishcycling.org.uk/knowledge/article/izn20121221-group-ride-0">British Cycling</a> has some great information on group riding and even has a guide on hand signals and communication to keep each other safe whilst out on the road. There's also this <a href="<%= asset_path('group-riding-skills-ctc.pdf') %>">handy PDF</a> from CTC that is well worth a look.</p>

  <div class="module module--video"><iframe width="560" height="315" src="https://www.youtube.com/embed/QPXijIKgFVM" frameborder="0" allowfullscreen=""></iframe></div>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/club-rides/wednesday-evening">Wednesday Evening</a></li>
      <li><a href="/club-rides/sunday-morning">Sunday Morning</a></li>
    </ul>
  </nav>
</aside>
