<section class="primary-content">
  <section class="widget widget--sponsor">
    <h2>Who are Sitwell Cycling Club?</h2>
    <p>Founded in 2016 we are Rotherham's newest cycling club. We currently have <%- members.number %> members since launching in January 2016. The club is based in Whiston, Rotherham and the surrounding area however we have club members from as far as Sheffield and Doncaster. Our core activity is a weekly club run every Sunday, as well as newcomer's rides on selected Saturdays and weekly social rides every Wednesday evening.</p>
     
    <h2>What sponsorship packages are available?</h2>
    <p>Whatever your budget and goals we have a package to suit you. For a full breakdown of our sponsorship packages please <a href="/contact">get in touch</a>.</p>
     
    <h2>How long do I have to commit for?</h2>
    <p>We have sponsorship packages available for 1, 2 and 3 year terms with a 10% discount for each additional year.</p>
     
    <h2>What does my sponsorship pay for?</h2>
    <p>We are strictly a not-for-profit organisation which means all sponsorship revenue is reinvested back into the club. Your sponsorship will contribute towards the following&hellip;</p>
    <ul>
      <li>Day-to-day running costs i.e. website hosting, British Cycling registration fees etc.</li>
      <li>Event organisation costs</li>
      <li>Sportive and race entry fees</li>
      <li>Club kit subsidies</li>
    </ul>
     
    <h2>What else do I get as a sponsor?</h2>
    <p>We are very much a community minded organisation and intend to promote and support local businesses wherever possible. In real terms this would mean in addition to the formal sponsorship outlined above we would also actively encourage our club members, their families and friends to spend their money with your business over others.</p>
    <h2>What are your future plans?</h2>
    <p>Now is an exciting time to be involved with our club. Here are a few things we are planning for the next 12 months&hellip;</p>
    <ul>
      <li>Grow Membership numbers significantly, our target is 45-50 members within the next 12 months</li>
      <li>Maintain and develop an inclusive membership base including a strong female contingent</li>
      <li>Increase club participation in races and sportives etc.</li>
      <li>Put on some sort of cycling event i.e. Hill Climb etc.</li>
      <li>Coaching</li>
    </ul>
     
    <h2>What is your online engagement like?</h2>
    <p>We recognise the opportunity the internet brings when building a cycling community and we therefore have an active and growing presence online via our own website and social media channels. Our current website and social media engagement statistics are as follows&hellip;</p>
    <ul>
      <li>Sitwell.cc - June 2016: 385 unique users, 1.2K page views</li>
      <li>Facebook - 146 likes</li>
      <li>Twitter - 138 followers</li>
      <li>Instagram - 54 followers</li>
    </ul>
    
    <h2>Interested in sponsoring us?</h2>
    <a class="btn" href="/contact">Get in touch</a>
  </section>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/about/committee">Committee</a></li>
      <li><a href="/about/sponsors">Sponsors</a></li>
      <li><a href="/about/constitution">Rules &amp; Constitution</a></li>
    </ul>
  </nav>
</aside>
