<section class="primary-content">
  <section class="widget widget--sponsor">
    <h3 class="widget__title">Want to sponsor us?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis illo sapiente architecto voluptas esse autem at expedita ullam.</p>
    <a class="btn" href="mailto:sponsors@sitwell.cc">Get in touch</a>
  </section>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/about/committee">Committee</a></li>
      <li><a href="/about/sponsors">Sponsors</a></li>
      <li><a href="/about/constitution">Rules &amp; Constitution</a></li>
    </ul>
  </nav>
</aside>
