<section class="primary-content">
  <p>Thankyou for contacting Sitwell Cycling Club. Your form has been submitted successfully, we'll be in touch as soon as possible.</p>
</section>

<aside class="secondary-content">

</aside>
