Wednesday



<aside class="">
  <nav>
    <ul>
      <li><a href="/club-rides/wednesday-evening">Wednesday Evening</a></li>
      <li><a href="/club-rides/sunday-morning">Sunday Morning</a></li>
    </ul>
  </nav>
</aside>
