<section class="primary-content">
  <p>To distribute or otherwise communicate to all members, any relevant codes of practice, policies or updates relating to welfare issues.</p>
  <p>To advise where appropriate, on the development of activities / events for young people within the Club.</p>
  <p>To be a point of contact for parents / responsible adults of any young person who becomes a member.</p>
  <p>To receive, record and if required, pass onto British Cycling Child Protection Officer, or the Cycling Time Trials Governing Body any concerns relating to the welfare of young people or vulnerable adults.</p>
  <p>To undertake an annual review of risk assessments relating to young people / vulnerable adults and raise any issues with the Committee.</p>
  <p>Attend committee meetings and ensure the Chairman & Secretary are fully up to date with any changes in legislation, regulation and best practice with regards to Club welfare and safeguarding.</p>
  <p>To, where practicable, liaise with other Cycling Clubs and share best practice with regards to Club Welfare / Safeguarding / Risk Assessment.</p>
  <p><strong>The role of the Club Welfare Officer is an advisory role and is not intended to replace, even on a temporary basis, the roles and responsibilities of parents, guardians, responsible adults or carers.  The final decision as to whether an activity or event which involves young people / vulnerable adults receives approval remains at all times with the Committee of the Club.</strong></p>
  <h2>Our Welfare Officers</h2>
<!--   <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt=" - President" class="img img--fifty img--left" />
    <h3>President</h3>
    <h2></h2>
  </article>  -->
  <!-- <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="Annabel Vella" class="img img--fifty img--left" />
    <h3>Welfare Officer</h3>
    <h2>Annabel Vella</h2>
    <ul>
        <li><a href="https://www.nspcc.org.uk/what-you-can-do/get-expert-training/child-protection-sport-online-course/">Child Protection in Sport Certified</a></li>
        <li>DBS Checked</li>
    </ul>
  </article> -->
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="David hush" class="img img--fifty img--left" />
    <h3>Welfare Officer</h3>
    <h2>David Hush</h2>
    <ul>
        <li><a href="https://www.nspcc.org.uk/what-you-can-do/get-expert-training/child-protection-sport-online-course/">Child Protection in Sport Certified</a></li>
        <li>DBS Checked</li>
    </ul>
  </article>
</section>

<aside class="secondary-content">
  <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/about/committee">Committee</a></li>
        <li><a href="/about/welfare">Welfare</a></li>
        <li><a href="/about/road-captains">Road Captains</a></li>
        <li><a href="/about/sponsors">Sponsors</a></li>
        <li><a href="/about/constitution">Constitution</a></li>
      </ul>
  </nav>

  <section class="widget widget--sponsors">
    <h3 class="widget__title"><a href="/about/sponsors">Please visit our sponsors</a></h3>
    <% include ../../shared/sponsors %>
  </section>
</aside>
