<section class="primary-content">
  <p>Sitwell Cycling Club believes everyone who participates in cycling in all its disciplines is entitled to participate in an enjoyable and safe environment and to be given the chance to experience the fun, challenge and sense of achievement that are inherent to cycling.</p>
  <p>To ensure this, Sitwell Cycling Club is committed to implementing policies and procedures to ensure all those involved comply with the British Cycling code of good practice.</p>
  <p>In addition, all young people and vulnerable adults are entitled to a duty of care and to be protected from abuse. Sitwell Cycling Club is committed to implementing policies and procedures to ensure everyone in the Club accepts their responsibilities to safeguard children and vulnerble adults from harm and abuse. This means taking action to safeguard and report any concerns about their welfare.</p>
  <p>As a Club, we agree to abide by British Cycling's Safeguarding and Protecting Children and Vulnerable Adults Policies which along with more information on Safeguarding in general can be found <a href="https://www.britishcycling.org.uk/safeguarding">here</a>.</p>
  <h2>Welfare Officers</h2>
  <p>Sitwell Cycling Club has Welfare Officers who are responsible for ensuring that we meet British Cycling's requirements and making sure they are communicated to Members, Coaches, Parents, and Children. Our Welfare Officers will also advise Sitwell Cycling Club Committee on how best to safeguard the welfare of children and vulnerable adults who are participating in Club activities.</p>
  <p>If you have any concerns about the welfare of children or vulnerable adults involved in the Club you can contact our Welfare Officers by emailing: <a href="mailto:welfare@sitwell.cc">welfare@sitwell.cc</a></p>
  <p><strong>The role of a Club Welfare Officer is an advisory role and is not intended to replace, even on a temporary basis, the roles and responsibilities of Parents, Guardians, Responsible Adults or Carers. The final decision as to whether an activity or event which involves young people or vulnerable adults receives approval remains at all times with the Committee of the Club.</strong></p>
  <h2>Our Welfare Officers</h2>
  <!-- <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="Annabel Vella" class="img img--fifty img--left" />
    <h3>Welfare Officer</h3>
    <h2>Annabel Vella</h2>
    <ul>
        <li><a href="https://www.nspcc.org.uk/what-you-can-do/get-expert-training/child-protection-sport-online-course/">Child Protection in Sport Certified</a></li>
        <li>DBS Checked</li>
    </ul>
  </article> -->
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="David hush" class="img img--fifty img--left" />
    <h3>Welfare Officer</h3>
    <h2>David Hush</h2>
    <ul>
        <li><a href="https://www.nspcc.org.uk/what-you-can-do/get-expert-training/child-protection-sport-online-course/">Child Protection in Sport Certified</a></li>
        <li><a href="https://www.dbscheck.org/">DBS Checked</a></li>
    </ul>
  </article>
</section>

<aside class="secondary-content">
  <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/about/committee">Committee</a></li>
        <li><a href="/about/welfare">Welfare</a></li>
        <li><a href="/about/road-captains">Road Captains</a></li>
        <li><a href="/about/sponsors">Sponsors</a></li>
        <li><a href="/about/constitution">Constitution</a></li>
      </ul>
  </nav>

  <section class="widget widget--sponsors">
    <h3 class="widget__title"><a href="/about/sponsors">Please visit our sponsors</a></h3>
    <% include ../../shared/sponsors %>
  </section>
</aside>
