<div class="wrap">
  <h1 class="page-title"><%= meta.name %></h1>

  <section class="primary-content">
    <p>Don't worry, it'll totally be our fault.</p>
    <p>We'll have moved a page or renamed it. Our web monkey (not a real monkey) has been informed so hopefully this issue won't happen again.</p>
    <p>In the meantime, you can:</p>
    <ul>
      <li><a href="#" onclick="history.go(-1); return false;">Go back to the page you were on</a></li>
      <li><a href="/">Go back to the homepage</a></li>
    </ul>
  </section>
</div>

